<% errors = errors_from models: [user, user.person, email_address] %>

<!--<div class="row">
  <div class="col-md-7 col-lg-5">-->
<div class="p-md-5 p-4 rounded-3 bg-light">
	
  <div class="row">
	  <svg class="bi d-block mx-auto mb-4" width="25" height="25"><use xlink:href="#people-circle"/></svg>
	</div>
	
	<div class="row">
	<%= render "error_count_message", models: [user, user.person, email_address] %>
  </div>
	
	<div class="row">
  <%= form_with model: user do |user_form| %>
			
    <%= user_form.fields_for :person, user.person do |person_form| %>
				
		<%= render "two_error_messages", first: {field: :first_name, error_message: errors[:person][:first_name]}, 
				                            second: {field: :middle_name, error_message: errors[:person][:middle_name]} %>
		<div class="row pb-5">
			<div class="col">
				<%= person_form.label :first_name, class: "form-label" %>
				<%= person_form.text_field :first_name, autofocus: true, class: "form-control" %>
			</div>
			<div class="col">
				<%= person_form.label :middle_name, class: "form-label" %>
				<%= person_form.text_field :middle_name, class: "form-control" %>
			</div>
		</div>
				
		<%= render "two_error_messages", first: {field: :last_name, error_message: errors[:person][:last_name]}, 
				                            second: {field: :birthday, error_message: errors[:person][:birthday]} %>
		<div class="row pb-5">
			<div class="col">
				<%= person_form.label :last_name, class: "form-label" %>
				<%= person_form.text_field :last_name, class: "form-control" %>
			</div>
			<div class="col">
				<%= person_form.label :birthday, class: "form-label" %>
				<%= person_form.date_field :birthday, class: "form-control" %>	
			</div>
		</div>					
				
		<%= render "two_error_messages", first: {field: :email, error_message: errors[:emailaddress][:address]}, 
		                                second: {field: :username, error_message: errors[:user][:username]} %>
		<div class="row pb-5">
			  <% if email_address %>
			    <%= person_form.fields_for :email_address, email_address do |email_form| %>
			<div class="col">
				    <%= email_form.label :email_address, class: "form-label" %>
				    <%= email_form.email_field :address, class: "form-control" %>	
			</div>
			    <% end %>
				<% end %>
			<% end %>
			<div class="col">
				<%= user_form.label :username, class: "form-label" %>
				<%= user_form.text_field :username, class: "form-control" %>
			</div>
		</div>
				
		<%= render "two_error_messages", first: {field: :password, error_message: errors[:user][:password]}, 
		                                second: {field: :password_confirmation, error_message: errors[:user][:password_confirmation]} %>
		<div class="row pb-3">
			<div class="col">
				<%= user_form.label :password, class: "form-label" %>
				<%= user_form.password_field :password, class: "form-control" %>
			</div>
			<div class="col">
				<%= user_form.label :password_confirmation, class: "form-label" %>
				<%= user_form.password_field :password_confirmation, class: "form-control" %>	
			</div>
		</div>
				
		<div class="row center p-3">
		  <div class="actions">
			  <%= user_form.submit yield(:submit_button_label), class: "w-50 btn btn-primary"  %>
		  </div>
	  </div>
				
	<% end %>
  </div>
	
	<div class="row">
		<br>
		<hr class="my-2">
		<div class="form-links text-small">
		  <%= render 'shared/user_account_links', context: context %>
    </div>
  </div>
	
</div>

<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="people-circle" viewBox="0 0 16 16">
    <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
    <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
  </symbol>
</svg>