<% if logged_in? %>
    <% if context == :edit %>
        <div class="row">
            <div class="col gravatar_edit">
                <%= gravatar_for current_user %>
                <%= link_to "change", "https://gravatar.com/emails", target: "_blank", rel: "noopener" %><br />
            </div>
            <div class="col">
                <%= link_to 'Remove account', user_path(current_user), data: { turbo_method: :delete,
                                                                               turbo_confirm: "You are removing your account permanently. You won't be able to recover it. Are you sure?" } %>
            </div>
        </div>
    <% end %>
<% else %>
    <% if context == :login %>
        <%= link_to "Sign up", signup_path %><br />
    <% elsif context == :signup %>
        <%= link_to "Forgot your password?", '#' %><br />
    <% end %>
    <%= link_to "Didn't receive confirmation instructions?", '#' %><br />
    <%= link_to "Didn't receive unlock instructions?", '#' %><br />
<% end %>