<%= tag.div class:"dropdown" do %> <!-- class:"dropdown text-end" -->
  <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
		<%= render 'shared/user_icon', css_class:"rounded-circle" %>
  </a>
	
  <%= tag.ul class:"dropdown-menu dropdown-menu-end text-small" do %>
		<li class="dropdown-header">
			<div class="d-flex gap-2">
			  <svg class="rounded-circle" width="40" height="40"><use xlink:href="#people-circle"/></svg>
				<div>
			    <div class="login-identifier emph-item"><%= current_session.login_identifier %></div>
					<%= current_user.full_name %>
				</div>
		  </div>
			<%= link_to "View your profile", user_path(current_user.username), class: "btn btn-sm btn-outline-primary mt-2 w-100 rounded-5" %>
		</li>
		<li><%= link_to "Set status", "#", class: "dropdown-item"%></li>
		<li><hr class="dropdown-divider"></li>
		<li class="dropdown-header emph-item"">Account</li>
		<li><%= link_to "Settings", settings_user_path(current_user.username), class: "dropdown-item"%></li>
		<li><hr class="dropdown-divider"></li>
		<li class="dropdown-header emph-item"">Posts</li>
		<li><%= link_to "New", "#", class: "dropdown-item"%></li>
    <li><hr class="dropdown-divider"></li>
		<li class="dropdown-header emph-item">Current session</li>
		<li id="remember_me" ><%= render 'sessions/toggle_status_form' %></li>
    <li><%= link_to "Logout", logout_path, class: "dropdown-item", data: {turbo_method: :delete} %></li>
  <% end %>
	
<% end %>